.section-destacados, .section-categorias {
    background-image: url(../img/texturas/madera-clara.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    box-shadow: 0 0 10px black;
    text-align: center;
}

section .titulo, .titulo-producto {
    font-weight: bold;
    border: 1px solid #000f00;
    display: inline-block;
    border-radius: 20px;
    padding: 7px;
    margin-top: 10px;
    margin-bottom: -5px;
    background-color: #000f001f;
    box-shadow: 0 0 10px #000f00;
    scale: 1;
    transition: scale 0.7s ease-out;
}

section .titulo:hover, .titulo-producto:hover {
    scale: 1.1;
    transition: scale 0.5s ease-in;
}

section .card {
    scale: 1;
    box-shadow: 0 0 10px black;
    transition: scale 0.3s ease-out;
}

section .card:hover {
    scale: 1.05;
    transition: scale 0.01s ease-int;
}

section .muebles-card {
    background: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url('../img/muebles/mesa.jpg') center/cover;
}

section .dormitorios-card {
    background: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url('../img/muebles/cama.jpg') center/cover;
}

section .cocina-card {
    background: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url('../img/muebles/cocina.jpg') center/cover;
}

section .text-card {
    border: 1px solid rgb(0, 0, 0);
    background-color: rgba(102, 102, 102, 0.47);
    border-radius: 10px;
    color: #fff;
}

section .titulo-producto {
    font-size: 33px;
    margin-top: -10px !important;
}

section .boton {
    border-bottom: 2px solid #000f;
    font-size: 25px;
    font-weight: bold;
    padding: 3px;
    margin-top: 15px;
    scale: 1.;
    transition: scale 1ms ease-in-out;
    background-color: rgba(0, 0, 0, 0.100);
    border-radius: 5px;
}

section .boton:hover {
    border-bottom: 3px solid #000f;
    font-weight: bold;
    padding: 3px;
    background-color: rgba(0, 0, 0, 0.200);
    border-radius: 5px;
    scale: 1.07;
    transition: scale 1ms ease-in-out;
}

.section-texto, .contenedor-ubicacion {
    background-color: #faf9ec ;
    border: 1px solid black;
    box-shadow: 0 0 3px black;
}

.bloque-texto {
    width: 50%;
}

.text-titulo {
    transform: skewX(-15deg);
    display: inline-block;
    font-weight: 700;
    margin-bottom: 15px;
}

@media (max-width: 766px) {
    section {
        font-size: 0.8rem;
    }
    section .card {
        font-size: 13px;
    }

    .bloque-texto {
        width: 75%;
    }
}


/*LOCALIZACION*/
section .location-title {
    border-bottom: 1px solid black;
    padding-top: 15px;
    padding-bottom: 15px;
}

section .location-title h3 {
    font-weight: bold;
}

section .location-text .titulos {
    margin-bottom: 20px;
}

section .location-text .localidad {
    color: rgb(167, 113, 38);
}