<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ejemplo 1</title>

    <link rel="stylesheet" href="<?= base_url('assets/css/miestilo.css') ?>">
</head>
<body>
    <h1>Bienvenidos a Taller de Programacion</h1>
    <p class="paraghrap">Hoy <strong>solo practico</strong> de taller de programacion</p>

    <div class="div-section">
        <h2>Subtitulo</h2>

        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Assumenda <span style="color: aqua;">soluta placeat</span>, obcaecati optio repellendus quam fugiat corporis eveniet eos consectetur nam molestias sit expedita quisquam quidem consequatur ea. Aspernatur.</p>
    </div>

    <nav class="menu">
        <ul>
            <li><a href="https://Google.com" target="_blank">Inicio</a></li>
            <li><a href="https://Gmail.com" target="_blank">Sobre nosotros</a></li>
            <li><a href="https://Exa.unne.edu.ar" target="_blank">Contacto</a></li>
        </ul>
    </nav>
</body>
</html>
