/* ----------- SECCIÓN COMERCIALIZACIÓN ----------- */
/* Encabezado */
.titulo-comercializacion {
    background-image: url('../../img/texturas/treeplant.jpg');
    border-bottom: 3px solid black;
    text-align: center;
    background-position: top;
    background-size: cover;
    box-shadow: 0 0 10px rgb(0, 0, 0);
    color: rgb(255, 255, 255);
    padding: 15px;
}

.titulo-comercializacion h1, 
.titulo-comercializacion p {
    text-shadow: 0 0 5px rgb(0, 0, 0);
}

/* Estilo de cada subtitulo de los distintos articulos */
#container-comercializacion .subtitulo-comercializacion {
    font-weight: bold;
}

/* Contenedor principal */
#container-comercializacion {
    background-color: rgb(0, 0, 0, 0);
}

/* Secciones */
#container-comercializacion .contenedor-seccion {
    background-image: url('../../img/texturas/madera-claritaa.jpg');
    border-radius: 30px;
    box-shadow: 0 0 7px rgb(0, 0, 0);
    border: 1.9px solid rgb(0, 0, 0);
}

/* Tarjetas */
#container-comercializacion .card-style {
    border: 1px solid rgb(0, 0, 0);
    border-radius: 15px;
    box-shadow: 0 0 7px rgb(0, 0, 0);
    background-color: #f5f2d6ab;
}

/* Mapa de cobertura */
#container-comercializacion .mapa-cobertura {
    border: 1px solid black;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
}

/* Botones */
#container-comercializacion .boton-comercializacion {
    border: 1px solid black !important;
    background-color: rgba(255, 255, 255, 0.536) !important;
    transition: all 0.3s ease;
}

#container-comercializacion .boton-comercializacion:hover {
    background-color: rgb(76, 76, 76);
    color: rgb(255, 255, 255);
    transform: scale(1.03);
}

/* Tamaño de los iconos */
.icon-comercializacion {
    width: 30px;
}
/* Texto introductorio */
.intro-text {
    font-size: 1.1rem;
    color: var(--color-madera-oscura);
}

/* Responsive */
@media (max-width: 759px) {
    .titulo-comercializacion h1 {
        font-size: 25px;
    }

    .titulo-comercializacion p {
        font-size: 15px;
    }
    
    #container-comercializacion .contenedor-seccion {
        padding: 15px !important;
    }
}