/* ----------- ESTILOS GENERALES DEL SITIO ----------- */

/* Reseteo de márgenes y paddings con fuente predeterminada */
* {
    padding: 0;
    margin: 0;
    font-family: Verdana, Tahoma, sans-serif;
}

/* Color de fondo principal del sitio */
body {
    background: #f5f2d6 !important;
}
