/* ----------- ESTILO DE CATALOGO Y PRODUCTOS ------------*/

/* Estilo de la caja de secciones de Catalogo y Productos*/
.section-destacados, .section-categorias {
    background-image: url('../../img/texturas/madera-clara.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    box-shadow: 0 0 10px black;
    text-align: center;
}

/* Estilo del titulo de la seccion de Catalogo y Productos*/
.titulo, .titulo-producto {
    background-color: #000f001f;
    border: 1px solid #000f00;
    box-shadow: 0 0 10px #000f00;
    border-radius: 20px;
    
    font-size: 30px;
    font-weight: bold;
    display: inline-block;
    
    padding: 7px;
    margin-top: 10px;
    margin-bottom: -5px;
}

/* -------------- SECCIÓN CATALOGO / ESPECIALIDADES ---------------- */

/* Estilo de las cartas de las Seccion Catalogo */
section .catalogo-card {
    scale: 1;
    box-shadow: 0 0 10px black;
    transition: scale 0.3s ease-out;
}

/* Estilo con animacion de las cartas de las secciones de Catalogo*/
section .catalogo-card:hover {
    scale: 1.05;
    transition: scale 0.01s ease-int;
}

/* Imagen 1 del Catalogo */
section .muebles-card {
    background: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url('../../img/muebles/mesa.jpg') center/cover;
}

/* Imagen 2 del Catalogo */
section .dormitorios-card {
    background: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url('../../img/muebles/cama.jpg') center/cover;
}

/* Imagen 3 del Catalogo */
section .cocina-card {
    background: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url('../../img/muebles/cocina.jpg') center/cover;
}

/* Estilo del texto de las cartas del Catalogo */
section .text-card {
    border: 1px solid rgb(0, 0, 0);
    background-color: rgba(102, 102, 102, 0.47);
    border-radius: 10px;
    color: #fff;
}

/* ------- SECCIÓN PRODUCTOS ---------- */

/* Estilo del titulo de la sección de Productos*/
section .titulo-producto {
    margin-top: -10px !important;
}

/* Estilos del contenedor de las cartas*/
.card-size {
    max-height: 700px;
    margin-bottom: 1rem;
}

/* Estilos para el botón de la sección Productos */
.btn-ver-todos {
    background-color: #5E3A1E; /* Color madera oscura */
    color: white;
    padding: 12px 30px;
    border: 2px solid #3D2411;
    border-radius: 10px;
    text-transform: uppercase;
    letter-spacing: 5px;
    transition: all 0.3s ease;
    position: relative;
    overflow: hidden;
    box-shadow: 0 1px 10px rgb(0, 0, 0);
}

/* Efecto con animación de movimiento en el boton de la sección de Productos*/
.btn-ver-todos:hover {
    background-color: #3D2411;
    transform: translateY(-3px);
    box-shadow: 0 3px 15px rgba(0, 0, 0);
}

/* Efecto de boton de Desvanecimiento de la sección de Productos */
.btn-ver-todos::before {
    content: "";
    position: absolute;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100%;
    background: linear-gradient(90deg, transparent, rgba(255, 255, 255, 0.2), transparent);
    transition: 0.5s;
}

/* Efecto para el desplazamiento del efecto del boton de la sección de Productos */
.btn-ver-todos:hover::before {
    left: 100%;
}

/* Estilo de las cartas de los productos */
.product-card {
    box-shadow: inset 0 0 5px rgb(0, 0, 0);
    border: 2px solid black !important;
    scale: 1.0;
    transition: scale 100ms ease-out;
}

.product-card:hover {
    box-shadow: inset 0 0 15px rgb(0, 0, 0);
    scale: 1.03;
    transition: scale 100ms ease-in;
}

/* ----------- SECCIÓn DISEÑO ÚNICO ------------- */

/* Estilos de las cajas en la sección de Diseño Único y Ubicacion */
.section-texto, .contenedor-ubicacion {
    background-color: #faf9ec ;
    border: 1px solid black;
    box-shadow: 0 0 3px black;
}

/* Estilo del texto de la sección Diseño Único */
.bloque-texto {
    width: 70%;
}

/* Estilo del titulo de la sección Diseño Único */
.text-titulo {
    transform: skewX(-15deg);
    display: inline-block;
    font-weight: 700;
    margin-bottom: 15px;
}

/* ----------------- SECCIÓN UBICACIÓN ------------------*/

/* Estilo del contenedor del titulo de la sección Ubicación */
section .location-title {
    border-bottom: 1px solid black;
    padding-top: 15px;
    padding-bottom: 15px;
}

/* Estilo del titulo de la sección Ubicación */
section .location-title h3 {
    font-weight: bold;
}

/* Estilo del texto de la sección Ubicación */
section .location-text .titulos {
    margin-bottom: 20px;
}

/* Estilo para el subtitulo de la sección Ubicación */
section .location-text .localidad {
    color: rgb(167, 113, 38);
}

/* Estilo para el mapa de la la sección Ubicación*/
.map-container {
    height: 400px; /* Altura fija para el mapa */
    min-height: 300px; /* Mínimo para móviles */
    border: 2px solid #000;
    border-radius: 10px;
    overflow: hidden; /* Evita que el iframe se salga */
}

/* ----------------- ZONA DE AJUSTE PARA PANTALLAS MEDIAS ---------------------*/
@media (max-width: 768px) {
    section {
        font-size: 0.8rem;
    }
    section .catalogo-card {
        font-size: 13px;
    }

    .bloque-texto {
        width: 75%;
    }

    .location-content {
        flex-direction: column;
    }
    .map-container, .location-text {
        width: 100% !important;
    }
    .map-container {
        height: 300px;
        margin-bottom: 1rem;
    }
}

/* ----------------- ZONA DE AJUSTE PARA PANTALLAS CHICAS ---------------------*/
@media (max-width: 570px) {
    .titulo-producto, .titulo {
        font-size: 20px !important;

        width: 50%;
    }
}